terraform {
  backend "s3" {
    bucket       = "oficina-dgcar-fiap-tfstate-tsoat16"
    key          = "oficina-dgcar/academic/terraform.tfstate"
    region       = "us-east-1"
    encrypt      = true
    use_lockfile = true
  }
}
