terraform {
  backend "s3" {
    bucket         = "oficina-dgcar-academic-tfstate-substitua-por-sufixo-unico"
    key            = "oficina-dgcar/academic/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "oficina-dgcar-academic-terraform-lock"
    encrypt        = true
  }
}
